!!!
%html{lang: "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Crimson+Text"
    = stylesheet_link_tag "  https://fonts.googleapis.com/css?family=Source+Sans+Pro:900i,700"
    = partial "partials/favicons"
    = partial "partials/ogp"
  %body.body
    .body__inner
      = partial "partials/header"
      = yield
    = partial "partials/footer"

    %a.to-top#to-top{href: "#"}
      %i.fa.fa-angle-up

    = javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js"
    = javascript_include_tag "mojik"
    = javascript_include_tag "mobileNav"
    = javascript_include_tag "scroll"
    = javascript_include_tag "tabs"
    :javascript
      Mojik.compose(".js-mojick");
