%header.header
  .container
    .header__inner
      .header__site-title
        = link_to "/", class: "header__site-title-link" do
          = image_tag("logo.svg", alt: "株式会社コンピュータアドバイザー 業務アプリケーション開発、パッケージソリューション開発・販売、ITコンサルティング等、幅広いITサービスをご提供してます。", class: "header__site-title-image is-hidden-md-down")
          = image_tag("mobile-logo.svg", alt: "株式会社コンピュータアドバイザー 業務アプリケーション開発、パッケージソリューション開発・販売、ITコンサルティング等、幅広いITサービスをご提供してます。", class: "header__site-title-image is-hidden-lg-up")

      = partial "partials/header_nav"

  = partial "partials/mobile_nav_button"
  = partial "partials/mobile_menu"
