.home-services
  .container
    .home-services__inner
      %header.home-content__header
        %h2.home-services__title.home-content__title
          サービス
      .home-services-features
        .home-services-features__items
          .home-services-features-item.is-development
            = link_to "/entrusted-development/", class: "home-services-features-item__link" do
              .home-services-features-item__image-container
                = image_tag("development.svg", class: "home-services-features-item__image")
              %h3.home-services-features-item__title
                受託開発
            .home-services-features-item__body
              %p.js-mojik
                要求分析からシステム開発、導入、運用サポートまで一貫したサービスをご提供します
            .home-services-features-item__more
              = link_to "/entrusted-development/index.html", class: "home-services-features-item__more-link sm-link" do
                受託開発について

          .home-services-features-item.is-staff-assist
            = link_to "http://staff-assist.jp/", class: "home-services-features-item__link", target: "_blank" do
              .home-services-features-item__image-container
                = image_tag("staff-assist.svg", class: "home-services-features-item__image")
              %h3.home-services-features-item__title
                Staff Assist
            .home-services-features-item__body
              %p.js-mojik
                スタッフ管理から給与計算、請求、事業報告書の出力まで。社内業務をワンストップで網羅した人材派遣業向け総合管理システム。
            .home-services-features-item__more
              = link_to "http://www.staff-assist.jp/", class: "home-services-features-item__more-link sm-link" do
                Staff Assist
          .home-services-features-item.is-masse-series
            = link_to "http://tehaishimasse.jp/", class: "home-services-features-item__link", target: "_blank" do
              .home-services-features-item__image-container
                = image_tag("masse-series.svg", class: "home-services-features-item__image")
              %h3.home-services-features-item__title
                Masse Series
            .home-services-features-item__body
              %p.js-mojik
                SaaS型アプリケーションシリーズ。手配管理システム「手配師マッセ」と運送業向け受注・請求管理システム「はこびマッセ」をご用意。
            .home-services-features-item__more
              = link_to "http://tehaishimasse.jp/", class: "home-services-features-item__more-link sm-link" do
                Masse Series
          .home-services-features-item.is-aocm
            = link_to "http://aocm.jp/", class: "home-services-features-item__link", target: "_blank" do
              .home-services-features-item__image-container
                = image_tag("aocm.svg", class: "home-services-features-item__image")
              %h3.home-services-features-item__title
                AOCM
            .home-services-features-item__body
              %p.js-mojik
                次世代のアクティブオプティカルケーブル（AOC）の輸入・販売事業を行っております。
            .home-services-features-item__more
              = link_to "http://aocm.jp/", class: "home-services-features-item__more-link sm-link" do
                AOCM
