.home-method
  .container
    .home-method__inner
      %header.home-content__header
        %h2.home-method__title.home-content__title
          満足度120%のシステムを
          %br
          ご提供いたします！
      .home-method-features
        .home-method-features__items
          .home-method-features-item
            %header.home-method-features-item__header
              = image_tag("method-1.svg", class: "home-method-features-item__image")
              %h3.home-method-features-item__title
                お客様の問題解決が最優先！
                %br
                不要なシステムはご提案しません。
            .home-method-features-item__body
              %p
                システムの開発はあくまで
                %br
                ソリューションの手段の一つに過ぎません。
            %footer.home-method-features-item__footer
              = link_to "/entrusted-development/#development-1", class: "home-method-features-item__footer-link sm-link" do
                くわしく
          .home-method-features-item
            %header.home-method-features-item__header
              = image_tag("method-2.svg", class: "home-method-features-item__image")
              %h3.home-method-features-item__title
                システムのご提案～製造～導入まで、
                %br
                全て自社社員が担当します。
            .home-method-features-item__body
              %p
                極力外注を避けワンストップで
                %br
                システムを開発いたします。
            %footer.home-method-features-item__footer
              = link_to "/entrusted-development/#development-2", class: "home-method-features-item__footer-link sm-link" do
                くわしく
          .home-method-features-item
            %header.home-method-features-item__header
              = image_tag("method-3.svg", class: "home-method-features-item__image")
              %h3.home-method-features-item__title
                納品して終わり、という
                %br
                システム開発は行いません。
            .home-method-features-item__body
              %p
                システム開発の「本当」の本番は
                %br
                導入・運用フェーズから始まります。
            %footer.home-method-features-item__footer
              = link_to "/entrusted-development/#development-3", class: "home-method-features-item__footer-link sm-link" do
                くわしく

      .content-action
        .content-action__inner
          = link_to "/entrusted-development/index.html", class: "content-action__link" do
            受託開発について
