%nav.mobile-menu
  %ul
    %li
      = link_to "/entrusted-development/index.html", class: "" do
        受託開発
    %li
      = link_to "/works/index.html", class: "" do
        実績
    %li
      = link_to "/recruit/index.html", class: "" do
        採用情報
    %li
      = link_to "/profile/index.html", class: "" do
        会社概要
    %li
      = link_to "/access/index.html", class: "" do
        アクセス
    %li
      = link_to "/contact.html", class: "" do
        お問い合わせ
