---
title: 採用情報
description: コンピュータアドバイザーは「エンジニア」が主役の会社です。全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。
---

.recruit
  %header.page-header
    .container
      %h1.page-header__title
        採用情報
  .home-recruit
    .container
      .home-recruit__inner
        %h2.home-recruit__title.js-mojick
          コンピュータアドバイザーは<br>「エンジニア」が主役の会社です。
        .home-recruit__body
          %p
            全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。

  .page-contents
    .recruit-description.page-contents__item
      .container.is-sm
        .recruit-description__body.is-long-text
          %p.js-mojick
            コンピュータアドバイザーは「社員（=エンジニア）」を大切にする会社です。
            %br
            同規模の企業と比較して手厚い福利厚生制度を整えていますので、安心して長期に渡り勤務することが可能です。
            %br
            また、書籍の購入支援や就業時間中の社外セミナー・勉強会への参加等、エンジニアとしてのスキルアップを支援する仕組みも備えています。

    = partial "recruit/recruit_process"


    .faq.page-contents__item
      .container.is-md
        %h2.faq__title.page-contents__item-title
          よくある質問

        .tabs
          %ul.js-tabs.tabs__items
            %li.tabs__item
              %a.tabs__item-action{"data-href": "#js-view-1"}
                新卒・キャリア共通
            %li.tabs__item
              %a.tabs__item-action{"data-href": "#js-view-2"}
                新卒採用向け
            %li.tabs__item
              %a.tabs__item-action{"data-href": "#js-view-3"}
                キャリア採用向け

        = partial "recruit/faq_1"
        = partial "recruit/faq_2"
        = partial "recruit/faq_3"

      = partial "recruit/recruit_action"


    .interviews
      .container
        %h2.interviews__title.page-contents__item-title
          社員インタビュー
        .row.is-gutter-width-40-lg-up.is-gutter-width-24-md-down
          .col-xs-12.col-md-6
            .interview
              = partial "recruit/interview_1"
          .col-xs-12.col-md-6
            .interview
              = partial "recruit/interview_2"

    = partial "recruit/recruit_action"
