.works
  %header.page-header
    .container
      %h1.page-header__title
        導入実績
  .page-contents
    .cases
      .cases__items
        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                レストラン船 予約・発券・精算システム
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                大手企業グループ内備品・消耗品Web受発注システム
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                レストラン船 予約・発券・精算システム
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                大手企業グループ内備品・消耗品Web受発注システム
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                レストラン船 予約・発券・精算システム
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。

        .cases-item
          .cases-item__inner
            .cases-item__image-container
              = image_tag("sample.png", class: "cases-item__image")
            %h3.cases-item__title
              = link_to "", class: "cases-item__title-link" do
                大手企業グループ内備品・消耗品Web受発注システム
            .cases-item__body
              %p
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
