= partial "partials/main-visual"
.home-contents
  .home-content
    = partial "partials/home_method"
  .home-content
    = partial "partials/home_services"
  .home-content
    = partial "partials/home_works"
  .home-content
    = partial "partials/home_about"
  = partial "partials/home_recruit"
