.access
  %header.page-header
    .container
      %h1.page-header__title
        アクセス
  .page-contents
    .recruit-description.page-contents__item
      .container.is-md
        .address
          .address__map
            <iframe src="https://goo.gl/gerJ6K" width="380" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
          .address__body
            .address__address
              = link_to "https://goo.gl/B49voX", class: "address__address-link", target: "_blank" do
                〒140-0001
                %br
                東京都品川区北品川2-11-1 ベイテラス北品川204
                %br
                TEL: 03-5769-3155
            %ul.address__stations
              %li.address__station
                京急電鉄 新馬場駅より徒歩3分
              %li.address__station
                東急バス渋41 新馬場駅前より徒歩3分
            %nav.address__links
              %ul.address__links-items
                %li.address__links-item
                  = link_to "https://goo.gl/B49voX", class: "address__links-item-link", target: "_blank" do
                    Google Map
                %li.address__links-item
                  = link_to "http://norikae.keikyu.co.jp/transit/norikae/T1", class: "address__links-item-link", target: "_blank" do
                    京急電鉄時刻表
                %li.address__links-item
                  = link_to "http://norikae.keikyu.co.jp/transit/norikae/T1", class: "address__links-item-link", target: "_blank" do
                    東急バス渋41時刻表

    .page-contents__item
      .container.is-md
        %h2.page-contents__item-title
          新馬場駅からの行き方
        .routes
          .routes-item
            .routes-item__image-container
              = image_tag("route-1.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                北口改札を出て正面の階段を下ります。

          .routes-item
            .routes-item__image-container
              = image_tag("route-2.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                階段の左側に見える歩道に出ます。

          .routes-item
            .routes-item__image-container
              = image_tag("route-3.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                右手（ドトールコーヒー側）に進みます。

          .routes-item
            .routes-item__image-container
              = image_tag("route-4.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                「ドトールコーヒー」の角を右手に曲がります。

          .routes-item
            .routes-item__image-container
              = image_tag("route-5.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                左手に「カフェベローチェ」見えます。この建物の2階に「コンピュータアドバイザー」があります。

          .routes-item
            .routes-item__image-container
              = image_tag("route-6.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                「カフェベローチェ」の左の扉が建物の入り口です。

          .routes-item
            .routes-item__image-container
              = image_tag("route-7.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                正面の階段を昇ります。

          .routes-item
            .routes-item__image-container
              = image_tag("route-8.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                昇ってすぐ、左手がコンピュータアドバイザーです。

          .routes-item
            .routes-item__image-container
              = image_tag("route-9.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                受付は中にございます。扉をお明けください。

          .routes-item
            .routes-item__image-container
              = image_tag("route-10.jpg", class: "routes-item__image")
            .routes-item__description
              %p
                受付用のインターフォンがございます。受話器をお持ちになり「１.呼出」を押していただけますと受付担当へつながります。
